# report_key target_dir
CA_approved appr_sumry/new_transaction
CA_rejected_depotrepair	depot_repair/rejected
CA_rejected_installation install/rejected
CA_rejected_onsitebfservice break_fix/rejected
CA_rejected_partslogistics parts/rejected
CA_rejected_remotecustsupport rcs/rejected
fee15_approved appr_fee15/new_transaction
invoice_detail_depotrepair_CA depot_repair/approved
invoice_detail_installation_CA install/approved
invoice_detail_onsitebfservice_CA break_fix/approved
invoice_detail_partslogistics_CA parts/approved
invoice_detail_remotecustsupport_CA rcs/approved
depotrepair_CA_Unaccepted depot_repair/rejected
installation_CA_Unaccepted install/rejected
onsitebfservice_CA_Unaccepted break_fix/rejected
partslogistics_CA_Unaccepted parts/rejected
remotecustsupport_CA_Unaccepted rcs/rejected
depotrepair_CA_Accepted depot_repair/approved
installation_CA_Accepted install/approved
onsitebfservice_CA_Accepted break_fix/approved
partslogistics_CA_Accepted parts/approved
remotecustsupport_CA_Accepted rcs/approved
